.wrapper {
  display: flex;
}

.first-half {
  background-color: whitesmoke;
  width: 40%;
  height: 100vh;
  text-align: center;
}

.second-half {
  background-color: #1cbe88;
  width: 60%;
  height: 100vh;
}

.login-text {
  color: #1cbe88;
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 20%;
}

.welcome-text {
  color: white;
  font-size: 22px;
  font-weight: lighter;
  margin-top: 35%;
  margin-left: 25%;
}

.flex-text {
  color: white;
  margin-left: 25%;
  font-size: 60px;
  font-weight: bold;
}

.white-line {
  margin-left: 25%;
  margin-top: 1.5%;
  height: 0.2%;
  width: 50%;
  background-color: white;
}

.desc-text {
  margin-left: 25%;
  margin-top: 1.5%;
  color: white;
}

.form-wrapper {
  margin: 0 auto;
  width: 50%;
}

.custom-input {
  background-color: whitesmoke;
  border: 0px;
  width: 60%;
  margin-top: 15%;
  border-bottom: 1px solid #1cbe88;
  transition: all 0.3s ease;
}

.custom-input:focus {
  outline: none;
  border-bottom: 1px solid #17966b;
}

.custom-input2 {
  background-color: whitesmoke;
  border: 0px;
  width: 60%;
  margin-top: 5%;
  border-bottom: 1px solid #1cbe88;
  transition: all 0.3s ease;
}

.custom-input2:focus {
  outline: none;
  border-bottom: 1px solid #17966b;
}

.login-button {
  width: 30%;
  height: 5vh;
  background-color: whitesmoke;
  color: #1cbe88;
  border: 1px solid #1cbe88;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.login-button:hover {
  color: white;
  background-color: #1cbe88;
  border: 1px solid #1cbe88;
}

.forgot-password {
  color: #1cbe88;
  font-weight: bold;
  margin-bottom: 10%;
}
